<h3>{{viewTitle}}</h3>

<form action="/customer" method="POST" autocomplete="off">
<input type="hidden" name="_id" value="{{customer._id}}">
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="name" placeholder="Full Name" value="{{customer.name}}">
        <div class="text-danger">
            {{customer.nameError}}
        </div>
    </div>
    <div class="form-group">
        <label>Lastname One</label>
        <input type="text" class="form-control" name="lastnameone" placeholder="Lastname One" value="{{customer.lastnameone}}">
        <div class="text-danger">
            {{customer.lastnameoneError}}
        </div>
    </div>
    <div class="form-group">
        <label>Lastname Two</label>
        <input type="text" class="form-control" name="lastnametwo" placeholder="Lastname Two" value="{{customer.lastnametwo}}">
        <div class="text-danger">
            {{customer.lastnametwoError}}
        </div>
    </div>
    <div class="form-group">
        <label>RFC</label>
        <input type="text" class="form-control" name="rfc" placeholder="RFC" value="{{customer.rfc}}">
        <div class="text-danger">
            {{customer.rfcError}}
        </div>
    </div>

    <div class="form-group">
        <a class="btn btn-secondary" href="/customer"><i ></i>Cancel</a>
        <button type="submit" class="btn btn-info" ><i ></i>Save</button>
    </div>
</form>