
<h1>Registred Customers <a class="btn btn-primary" href="customer/new" style="margin-left: 300px;"><i class="fa fa-plus"></i>New Customer</a></h1> 
<table class="table table-striped">
    <thead>
        <tr>
            <th>Client Key</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this._id}}</td>
            <td>{{this.name}} {{this.lastnameone}} {{this.lastnametwo}}</td>

            <td>
                <a  href="/customer/see/{{this._id}}"><i class="fa fa-eye fa-lg btn-outline-success" aria-hidden="true"></i></a>
                <a  href="/customer/{{this._id}}"><i class="fa fa-pencil fa-lg btn-outline-warning" aria-hidden="true"></i></a>
                <a  href="/customer/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this Customer?');"><i class="fa fa-trash fa-lg btn-outline-danger" aria-hidden="true"></i></a>


            </td>
        </tr>
        {{/each}}
    </tbody>
</table>


