<h1>Sales <a class="btn btn-secondary" href="/sales"><i class="fa fa-plus"></i>Create New</a></h1> 
<table class="table table-striped">
    <thead>
        <tr>
            <th>Sale ID</th>
            <th>Customer ID</th>
            <th>Customer Name</th>
            <th>Total</th>
            <th>Date</th>
            
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this._id}}</td>
            <td>{{this.customer}}</td>
            <td>{{this.customername}}</td>
            <td>{{this.total}}</td>
            <td>{{this.date}}</td>
            <td>
                <a  href="/sales/see/{{this._id}}"><i class="fa fa-eye fa-lg" aria-hidden="true"></i></a>
                <a  href="/sales/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a  href="/sales/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this Article?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>


            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

