<h1>Registred Sales <a class="btn btn-primary" style="margin-left: 400px;" href="/sales/new"><i class="fa fa-plus"></i>New Sale</a></h1> 
<table class="table table-striped">
    <thead>
        <tr>
            <th>Sale ID</th>
            <th>Customer ID</th>
            <th>Customer Name</th>
            <th>Total</th>
            <th>Date</th>
            
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this._id}}</td>
            <td>{{this.customer}}</td>
            <td>{{this.customername}}</td>
            <td>{{this.total}}</td>
            <td>{{this.date}}</td>
            <td>
                <a  href="/sales/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this Sale?');"><i class="fa fa-trash fa-lg btn-outline-danger" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

