<h3>{{viewTitle}}</h3>

<form>
    <div class="form-group">
        <label>Description</label>
        <input type="text" class="form-control" name="description" placeholder="Description" value="{{article.description}}" disabled="true">
    </div>
    <div class="form-group">
        <label>Model</label>
        <input type="text" class="form-control" name="model" placeholder="Model" value="{{article.model}}" disabled="true">
    </div>
    <div class="form-group">
        <label>Price</label>
        <input type="text" class="form-control" name="price" placeholder="Price" value="{{article.price}}" disabled="true">
    </div>
    <div class="form-group">
        <label>Stock</label>
        <input type="text" class="form-control" name="stock" placeholder="Stock" value="{{article.stock}}" disabled="true">
    </div>
    <div class="form-group">
        <a class="btn btn-secondary" href="/article"><i ></i>Return</a>
    </div>
</form>